<%= form_for @quiz do |f| %>

    <% if @quiz.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@quiz.errors.count, "error") %> prohibited this user from being saved:
        </h2>

        <ul>
        <% @quiz.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %></div>
    <br>

    <div class="form-group">
    Categories
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, class: "form-control" %></div>
    <br>
    <div class="form-group">
    New Category
    <%= f.fields_for :categories, @quiz.categories.build do |categories_fields| %>
   <%= categories_fields.text_field :name, class: "form-control" %></div>
 <% end %>
   <br>
    <div class="form-group">
      <ol>
    <%= f.fields_for :question_and_answers do |q| %>
        <li><%= q.label :question %>
        <%= q.text_field :question, class: "form-control" %><br>
        <%= q.label :answer %>
        <%= q.text_field :answer, class: "form-control" %><br></li>
    <% end %>
  </ol>
  </div>


    <%= f.submit %>
<% end %>
