<%= form_for @quiz do |f| %>
<% if @quiz.errors.any? %>

    <div class="alert alert-info" role="alert">
      <%= f.error_messages %>
    </div>
<% end %>
    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %></div>
    <br>

    <%= render 'categories', f: f %>
   <br>

    <%= render 'questions_and_answers', f: f %>


    <div id="create_quiz"> <%= f.submit "Create Quiz",class: "btn btn-primary btn-light" %></div>
<% end %>
