<div class="form-group">

<ol>
  <% f.build_nested_records(:question_and_answers, minimum: 5, maximum: 5) %>
    <%= f.fields_for :question_and_answers do |q_and_a| %>

      <li><%= q_and_a.label :question %>
      <%= q_and_a.text_field :question, class: "form-control" %><br>
      <%= q_and_a.label :answer %>
      <%= q_and_a.text_field :answer, class: "form-control" %><br></li>
     <% end %>
     </ol>
</div>
