<%= flash_message %>
<div class="center">
<% if user_created_quiz? %>
<%= render 'answer_show_page', quiz: @quiz %>

<% else %>
 <div class="center">

 <h1> <%= @quiz.name %> </h1>
 <h2> Quiz created by <%= link_to @quiz.user.username, user_path(@quiz.user) %></h2>

 <p>Categories: <% @quiz.categories.each do|category| %>
    <%= category.name %>
    <% end %></p>

  <h3><strong> Would you like to <%=link_to "take this quiz", new_quiz_game_path(@quiz.id) %> <h3>
</div>
<% end %>

<h2>Top Scores:</h2>
<%= render 'top_score_table' %>

<br>
<p>Comments: </p>
<%= render 'comments' %>
