<h5><%= params[:message]  %></h5>

<% if @quiz.id == current_user.id %>
<% @quiz.question_and_answers.each do |qa| %>
  <ol>
    <li>Question: <%= qa.question %>
        <br>
        Answer: <%= qa.answer %></li>
    </ol>
    <% end %>

  <% else %>
      <%= form_for @game do |f| %>

               <%= f.fields_for :guesses do |g| %>
                 <%= g.label :guess %>
                 <%= g.text_field :guess %>
              <% end %>


        <%=  hidden_field_tag "quiz_id", "#{@quiz.id}" %>

      <%= f.submit  %>
      <% end %>
   <% end %>


Leader Board <% Game.top_5quiz_scores.each do |game| %>
<%= game.score %>
<%= game.user.username %>
<% end %>
