<%   if flash[:message] %>
<div class="alert alert-success" role="alert">
  <%= flash_message %>
</div>
<% end %>

<div class="center">
  <% if user_created_quiz? %>
    <%= render 'answer_show_page', quiz: @quiz %>
    <%= form_tag quiz_path(@quiz.id), method: "delete" do %>
       <%= submit_tag "DELETE Quiz",class: "btn btn-danger btn-light" %>
    <% end %>
    <br>
     <%= link_to "All Quizzes", quizzes_path,class: "btn btn-primary" %>
<% else %>
 <div class="center">

 <h1> <%= @quiz.name %> </h1>
 <h2> Quiz created by <%= link_to @quiz.user.username, user_path(@quiz.user) %></h2>

 <p>Categories: <% @quiz.categories.each do|category| %>
    <%= category.name %>
    <% end %></p>

  <h3><strong> Would you like to<br>
    <%=link_to "TAKE THIS QUIZ?",  new_quiz_game_path(@quiz.id), class: "btn btn-success btn-lg" %> <h3>
</div>
<% end %>
<%= link_to "load quiz", quiz_path(@quiz),id: "load-quiz" %>
<div class="ordered-quiz"></div>
<h2>Top Scores:</h2>
<%= render 'top_score_table' %>

<br>
<p>Comments: </p>
<%= render 'comments' %>
