<div class="center">

<% if @quiz.user_id == current_user.id %>
  <ol>
  <% @quiz.question_and_answers.each do |qa| %>
      <li>Question: <%= qa.question %>
          <br>
          Answer: <%= qa.answer %></li>
      <% end %>
    </ol>
    <%= link_to "Edit Quiz", edit_quiz_path %>

<% else %>
 <div class="center">

 <h1> <%= @quiz.name %> </h1>
 <% if @quiz.categories %>
 <p>Categories: <% @quiz.categories.each do|category| %>
    <%= category.name %>
    <% end %></p>
  <% end %>
  <h3><strong> Would you like to <%=link_to "take this quiz", new_quiz_game_path(@quiz.id) %> <h3>
</div>

 <% quiz = @quiz %>
<h2>Top Scores:</h2>

<table class="table">
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>User Name</strong></td>
      <td><strong>Score</strong></td>
    </tr>
    <ol>
    <% Game.top_5_scores(quiz).each do |game| %>

    <li>User: <%= game.user.username %>
    Score: <%= game.score %></li>
    <% end %>
    </ol>
      <tr>

  </tbody>
</table>
<br>
<p>Comments: </p>

<p><% @quiz.comments.each do |comment| %>
    <p><%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %></p>
  <% end %></p>

<%= form_for [@quiz, @quiz.comments.build] do |f| %>
  <%= f.text_area :content %>
  <%= f.button :submit %>
<% end %>
<% end %>
