<h5><%= params[:message]  %></h5>


<% @quiz.question_and_answers.each do |qa| %>
  <ol>
    <li>Question: <%= qa.question %>
        <br>
      <% if @quiz.id == current_user.id %>
        Answer: <%= qa.answer %></li>
    </ol>
      <% else %>
       <%= form_tag games_new_path do %>
       <ol>
         <li>Question: <%= qa.question %>
             <br>
         <%= label_tag :guess %>
         <%= text_area_tag :guess %>
         <%=  hidden_field_tag "quiz_id", "#{@quiz.id}" %>

          <% end %>

      <% end %>

<% end %>

<%= submit_tag "Play Game!" %>




Leader Board <% Game.top_5quiz_scores.each do |game| %>
<%= game.score %>
<%= game.user.username %>
<% end %>
