
<div class="text-center">
  <form class="form-signin">
  <h2> Create a free account! </h2>
</div>
  <%= form_for @user do |f| %>

    <%= f.error_messages %>
  <div class="center">

      <%= f.text_field :username, placeholder: "username", class: "col-auto" %>
      <br>

      <%= f.text_field :email, placeholder: "email" %>
      <br>

      <%= f.password_field :password,  placeholder: "password" %>
      <br>
    <%= f.submit "Create Account", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="center">
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
</div>
