
<div class="text-center">
  <h2> Create a free account! </h2>
</div>
  <%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="alert alert-info" role="alert">
      <%= f.error_messages %>
    </div>
  <% end %>

  <div class="text-center">
       <%= f.label :username %><br>
      <%= f.text_field :username %>
      <br>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
      <br>
       <%= f.label :password %><br>
      <%= f.password_field :password %>
      <br>
    <%= f.submit "Create Account", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="center">
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
</div>
