<div class= "center">
<h1>Take the <%= @quiz.name %> Quiz!!</h1>
<h2> Quiz created by <%= link_to @quiz.user.username, user_path(@quiz.user) %></h2>
</div>
<%= form_for @game do |f| %>
<%= f.hidden_field :quiz_id %>
<% @quiz.question_and_answers.each do |qa| %>
<div class="form-group">
Question: <%= qa.question %>
         <%= f.fields_for :guesses do |g| %>
           <br><%= g.label :guess, "Answer" %>
           <%= g.text_field :guess, class: "form-control" %>
        <% end %>
</div>
<% end %>

<%= f.submit "Take Quiz",class: "btn btn-primary btn-light" %>
<% end %>
